body
{
    font-family: Calibri, sans-serif;
    font-size:13px;
    background-color: turquoise;
    margin: 0 auto;
    overflow-x: hidden;
}

.banner::before
{
    background-image: url(../images/banner.jpg);
    background-position: inherit;
    background-attachment: scroll;
    background-repeat: repeat;
    content: "";
    display: block;
    position: absolute;
    margin-left: 0;
    min-width: 100%;
    min-height: 140px;
    z-index: -1;
    opacity: 0.6;
    background-color: aqua;
}

div.header img#avatar
{
    width: 150px;
    margin: 10px 10px 10px 20px;
    border-radius: 100%;
}

em
{
    font-weight: bold;
}

.imgInline
{
    width: 20vw;

    height: 40vh;
}

div.header h1
{
    margin: 0 auto;
    padding-left: 10px;
    padding-bottom: 5px;
}

div.content
{
    min-height: 300px;
    padding: 15px;
}

a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

footer
{
    border-top: 1px solid darkturquoise;
    overflow: hidden;
    padding: 15px;
    background-color: darkturquoise;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
}

footer address
{
	float: left;
}

footer .W3CValidator
{
    float: right;
    padding-right: 30px;
}

ol {
    display: flex;
    flex-direction: column-reverse;
}

li {
    flex: 0 0 auto;
}